@use "variables";

//  font-family: "Ubuntu", sans-serif;

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.6px;
    color: variables.$gray600;
    overflow-x: hidden;
}

ul, li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
}
.menu-link:focus-visible,
.burger:focus-visible,
.button-login:focus-visible,
.button-signup:focus-visible,
.content-hero_start:focus-visible,
.content-hero_learn:focus-visible,
a:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 4px;
}