@use "variables";

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}
.container{
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 15px;
}

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: 
        url("../images/bg-pattern-intro-desktop.svg"),
        linear-gradient(135deg, #FF8F71, #FF3E55);
    background-repeat: no-repeat;
    background-position: 25% 52%, center;
    border-radius: 0 0 0 100px;
        
}

.header{
    padding-top: 59px;
    display: flex;
    align-items: center;
    gap: 64px;
    position: relative;
}
.header-logo{
    width: 100px;
    height: 39px;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}
.menu{
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger{
    display: none;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu-link{
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-link_text, .button-login{
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0px;
    color: variables.$white;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    &:hover{
        opacity: 1;
    }
}
.menu-link_icon{
    background-image: url("../images/icon-arrow-light.svg");
    width: 12px;
    height: 6px;
}

.menu-buttons{
    display: flex;
    align-items: center;
    gap: 32px;
}
.button-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 48px;
    background-color: variables.$white;
    font-weight: 700;
    border-radius: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0px;
    color: variables.$red500;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
        background-color: variables.$red400;
        color: variables.$white;
    }
}

@media (max-width:767.98px) {
    .menu{
        position: fixed;
        top: 125px;
        right: 40px;
        left: 40px;
        bottom: 39px;
        max-width: 688px;
        width: 100%;
        transform: translateX(180%);
        background-color: variables.$white;
        transition: all 0.3s ease 0s;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 32px 24px 82px;
        gap: 32px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .burger{
        display: flex;
        width: 32px;
        height: 24px;
        margin-left: auto;
        position: relative;
        span{
            width: 32px;
            height: 2px;
            background-color: variables.$white;
            opacity: 0.7;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease 0s;
            &::before{
                content: "";
                width: 32px;
                height: 2px;
                background-color: variables.$white;
                opacity: 0.7;
                position: absolute;
                left: 0;
                top: 10px;
                transition: all 0.3s ease 0s;
            }
            &::after{
                content: "";
                width: 32px;
                height: 2px;
                background-color: variables.$white;
                opacity: 0.7;
                position: absolute;
                left: 0;
                top: -10px;
                transition: all 0.3s ease 0s;
            }
        }
    }

    .burger.active{
        span{
            background-color: transparent;
            &::before{
                top: 0;
                transform: rotate(45deg);
            }
            &::after{
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    .menu.active{
        transform: translateX(0);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menu.active .menu-link_text, .button-login{
        color: variables.$blue900;
    }
    .menu.active .button-signup{
        background: 
            linear-gradient(135deg, #FF8F71, #FF3E55);
        color: variables.$white;

        }
    .menu.active .menu-link_icon{
        background-image: url("../images/icon-arrow-dark.svg");
    }
    .menu.active .menu-list{
        flex-direction: column;
        gap: 32px;
    }
}

// =============================================

.product-dropdown_button,
.company-dropdown_button,
.connect-dropdown_button{
    position: relative;

}
.product-dropdown_menu,
.company-dropdown_menu,
.connect-dropdown_menu{
    position: absolute;
    background-color: variables.$white;
    padding: 24px;
    border-radius: 4px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.product-dropdown_menu{
    left: 110px;
    bottom: -150px;
}
.company-dropdown_menu{
    left: 240px;
    bottom: -150px;
}
.connect-dropdown_menu{
    left: 370px;
    bottom: -150px;
}
.product-dropdown_menu.active,
.company-dropdown_menu.active,
.connect-dropdown_menu.active{
    visibility: visible;
    opacity: 1;
}

.product-dropdown_button.active > .product-icon{
    transform: rotateX(180deg);
    transition: all 0.8s ease 0s;
}
.company-dropdown_button.active > .company-icon{
    transform: rotateX(180deg);
    transition: all 0.8s ease 0s;
}
.connect-dropdown_button.active > .connect-icon{
    transform: rotateX(180deg);
    transition: all 0.8s ease 0s;
}

.dropdown_link{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0px;
    color: variables.$blue900;
    &:hover{
        font-weight: 700;
    }
}

@media (max-width: 767.98px) {
    .menu{
        position: fixed;
        top: 125px;
        left: 40px;
        right: 40px;
        bottom: 39px;

        width: auto;
        max-width: none;
    }
    .menu-list{
        width: 100%;
    }
    .menu-item{
        width: 100%;
    }
    .menu-link{
        margin: 0 auto 32px;
    }
    .product-dropdown_menu,
    .company-dropdown_menu,
    .connect-dropdown_menu{
        position: static;
        display: none;
    }
    .product-dropdown_menu.active,
    .company-dropdown_menu.active,
    .connect-dropdown_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        background-color: variables.$gray100;
        padding: 19px;
        // max-width: 640px;
        width: 100%;

    }
    .dropdown_link{
        opacity: 0.75;
    }
    .menu-buttons{
        border-top: 2px solid variables.$gray100;
        padding-top: 24px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 424.98px) {
    .menu-buttons{
        flex-direction: column;
    }
}

// ============================


.hero-content{
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 156px;
    max-width: 920px;
    margin: 0 auto;
}
.content-hero_title{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -2px;
    font-weight: 700;
    color: variables.$white;
    text-align: center;
}
.content-hero_text{
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    color: variables.$white;
}
.content-hero_buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.content-hero_start,
.content-hero_learn{
    width: 137px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 700;
    letter-spacing: 0px;
    cursor: pointer;
}
.content-hero_start{
    background-color: variables.$white;
    color: variables.$red500;
    &:hover{
        opacity: 0.7;
    }
}
.content-hero_learn{
    background-color: transparent;
    color: variables.$white;
    border: 1px solid variables.$white;
    &:hover{
        color: variables.$red500;
        background-color: variables.$white;
    }
}

@media (max-width: 424.98px) {
    .hero-content{
        padding-top: 96px;
    }
    .content-hero_title{
        font-size: 40px;
        line-height: 125%;
        letter-spacing: -1.2px;   
    }
}