$white: #fff;
$black: #000;

$gray950: #24242C;
$gray600: #4C5862;
$gray550: #878D92;
$gray100: #E7E7E7;

$purple950: #2D2E40;
$purple900: #3E4062;
$purple800: #52526F;

$red500: #FF505C;
$red400: #FF7B86;
$red50: #F9F6F6;

$blue900: #1F3E5A;

